#particles canvas{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-link.active {
  color: red; /* Change to red for active section */
}

html {
  --cursor-color: #ddd
}

html.dark-mode {
  --cursor-color: #fff
}